.text-right {
    text-align: end;
}
.table-show-more-btn {
    width: 150px !important;
    background: #0c0c50;
    color: white;
}
.header-title {
    background: #7b6c6c14;
    color: #80808094;
    font-size: 17px;
    font-weight: 500;
}
.status-tag {
    background: #88e5be;
    color: #fff;
    padding: 3px 20px;
    border-radius: 5px;
}
.status-not-tag{
    background: orange;
    color: #fff;
    padding: 3px 20px;
    border-radius: 5px;
}
table {
    margin-top: 20px;
}
table tr th {
    text-transform: uppercase;
    font-size: 15px;
}