<div>

  <div style="width: 100%;"  class="text-right">
    <button mat-raised-button type="button" class="table-show-more-btn" style="width: 100%;" (click)="openDialog()">New Referral Source</button>
  </div> 

  <table mat-table class="hover" [dataSource]="dataSource" style="width: 100%;">
                               
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="header-title"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dateAdded">
      <th mat-header-cell *matHeaderCellDef class="header-title"> Date Added </th>
      <td mat-cell *matCellDef="let element"> {{element.dateAdded}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="header-title"> Status </th>
      <td mat-cell *matCellDef="let element">  <span [class]="element.status == 'Active'? 'status-tag' : 'status-not-tag'">{{element.status}}</span> </td>
    </ng-container>

  </table>
</div>