@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.line-chart {
    font-size: 10px;
    width: 100%;
    height: 370px;
    border: 2px solid #ddd;
}
/* .line-chart mat-card {
    box-shadow: 10px 10px 10px #000;
} */
.w-25 {
    width: 25%;
}
.mat-card {
    margin-bottom: 0;
    box-shadow: none;
}
h2 span {
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 767px) {
    .w-25 {
        width: 89%;
    }
}